.Title {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 40px;
  font-weight: bolder;
  text-decoration: none;
  margin: 0;
  background: var(--gradiant);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
